<%= form_for(@post) do |f| %>
  <label>My Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>My Post description:</label><br>
  <%= f.text_field :description %><br>

  <%= f.submit %>
<% end %>
